In [4]:
import pandas as pd
from pathlib import Path

csvpath = Path("sales.csv")
sales_dataframe = pd.read_csv(csvpath)
sales_dataframe.head()

          FullName                   Email    Zip  SalePrice
0    Elwanda White      alyre2036@live.com   9236      84.33
1   Lyndon Elliott  arrowy1873@outlook.com   1330     879.95
2   Daisey Sellers  toucan2024@outlook.com   7631     907.58
3     Issac Reeves    asarin1958@gmail.com  81168     545.88
4  Bradford Kinney  mibound1801@yandex.com  41721     517.49

In [9]:
import pandas as pd
from pathlib import Path

csvpath = Path("/Users/michaeldionne/Desktop/Fintech-Workspace/Module 3/Class_1_Activities/01_Importing_the_VIX/Resources/vix.csv")
sales_dataframe = pd.read_csv(csvpath)
sales_dataframe.head()
sales_dataframe.tail()

         Date    VIX
4113  9/15/20  25.59
4114  9/16/20  26.04
4115  9/17/20  26.46
4116  9/18/20  25.83
4117  9/21/20  27.78