In [1]:
import pandas as pd
from pathlib import Path

In [8]:
# Import data
data_path = Path('/Users/michaeldionne/Documents/GitHub/Fintech-Workspace/Module 12/Reading/start-up_success.csv')
df = pd.read_csv(data_path,      
    parse_dates=True, 
    infer_datetime_format=True
)
df.head()

   Financial Performance  Industry Health  Firm Category
0              -2.761650        -2.414516              0
1               2.867162         1.989524              1
2              -0.701230        -1.074845              0
3              -3.516214        -1.928217              0
4              -0.981901        -2.798853              0

In [9]:
# Count how many firms are in each category
df['Firm Category'].value_counts()

0    978
1    346
Name: Firm Category, dtype: int64

In [11]:
# Import module
from sklearn.model_selection import train_test_split

# Split training and testing sets
# Create X, or features DataFrame
features = df[['Financial Performance', 'Industry Health']]

# Create y, or target DataFrame
target = df['Firm Category']

# Use train_test_split to separate the data
training_features, testing_features, training_targets, testing_targets = train_test_split(features, target)

training_features

      Financial Performance  Industry Health
253               -3.057954        -1.517710
1061              -2.096711        -2.208448
1096              -2.177863        -2.160606
332               -2.703784        -0.277413
376               -2.928355        -0.781523
...                     ...              ...
335                0.329322         2.926705
596               -0.691108        -1.658353
340               -2.677962        -1.372076
935               -1.419560        -2.259363
1238              -2.400568        -2.818690

[993 rows x 2 columns]

In [14]:
# Import LogisticRegression from sklearn
from sklearn.linear_model import LogisticRegression

logistic_regression_model = LogisticRegression()

# Fit the model
logistic_regression_model.fit(training_features, training_targets)

LogisticRegression()

In [15]:
# Generate predictions from the model we just fit
predictions = logistic_regression_model.predict(training_features)

# Convert those predictions (and actual values) to a DataFrame
results_df = pd.DataFrame({"Prediction": predictions, "Actual": training_targets})
results_df

      Prediction  Actual
253            0       0
1061           0       0
1096           0       0
332            0       0
376            0       0
...          ...     ...
335            1       1
596            0       0
340            0       0
935            0       0
1238           0       0

[993 rows x 2 columns]

In [16]:
# Apply the fitted model to the test dataset
testing_predictions = logistic_regression_model.predict(testing_features)

# Save both the test predictions and actual test values to a DataFrame
results_df = pd.DataFrame({
    "Testing Data Predictions": testing_predictions,
    "Testing Data Actual Targets": testing_targets})
results_df

      Testing Data Predictions  Testing Data Actual Targets
1210                         1                            1
959                          1                            1
753                          0                            0
710                          0                            0
117                          0                            0
...                        ...                          ...
677                          1                            1
375                          0                            0
595                          0                            0
799                          1                            1
1156                         0                            0

[331 rows x 2 columns]

In [ ]:
# Import the accuracy_score function
from sklearn.metrics import accuracy_score

# Calculate the model's accuracy on the test dataset
accuracy_score(testing_targets, testing_predictions)