In [1]:
import pandas as pd
from pathlib import Path

In [3]:
# Import data
data_path = Path('/Users/michaeldionne/Documents/GitHub/Fintech-Workspace/Module 12/Reading/01-Logistic_Regression/start-up_success.csv')
df = pd.read_csv(data_path,      
    parse_dates=True, 
    infer_datetime_format=True
)
df.head()

   Financial Performance  Industry Health  Firm Category
0              -2.761650        -2.414516              0
1               2.867162         1.989524              1
2              -0.701230        -1.074845              0
3              -3.516214        -1.928217              0
4              -0.981901        -2.798853              0

In [4]:
# Count how many firms are in each category
df['Firm Category'].value_counts()

0    978
1    346
Name: Firm Category, dtype: int64

In [5]:
# Import module
from sklearn.model_selection import train_test_split

# Split training and testing sets
# Create X, or features DataFrame
features = df[['Financial Performance', 'Industry Health']]

# Create y, or target DataFrame
target = df['Firm Category']

# Use train_test_split to separate the data
training_features, testing_features, training_targets, testing_targets = train_test_split(features, target)

training_features

      Financial Performance  Industry Health
1071               1.546579         1.456045
242               -1.903873        -1.506238
981                3.068989         3.326538
515               -0.888976        -2.529075
721                1.752505         1.013061
...                     ...              ...
333                2.004623         2.089891
502               -1.832723        -0.755987
535               -1.874989        -2.152177
304               -0.271635        -0.400806
758               -2.014254        -2.480111

[993 rows x 2 columns]

In [7]:
# Import LogisticRegression from sklearn
from sklearn.linear_model import LogisticRegression

logistic_regression_model = LogisticRegression()

# Fit the model
logistic_regression_model.fit(training_features, training_targets)

LogisticRegression()

In [8]:
# Generate predictions from the model we just fit
predictions = logistic_regression_model.predict(training_features)

# Convert those predictions (and actual values) to a DataFrame
results_df = pd.DataFrame({"Prediction": predictions, "Actual": training_targets})
results_df

      Prediction  Actual
1071           1       1
242            0       0
981            1       1
515            0       0
721            1       1
...          ...     ...
333            1       1
502            0       0
535            0       0
304            0       0
758            0       0

[993 rows x 2 columns]

In [9]:
# Apply the fitted model to the test dataset
testing_predictions = logistic_regression_model.predict(testing_features)

# Save both the test predictions and actual test values to a DataFrame
results_df = pd.DataFrame({
    "Testing Data Predictions": testing_predictions,
    "Testing Data Actual Targets": testing_targets})
results_df

      Testing Data Predictions  Testing Data Actual Targets
807                          1                            1
1012                         1                            1
1089                         0                            0
187                          1                            1
1278                         1                            1
...                        ...                          ...
740                          1                            1
463                          0                            0
424                          0                            0
83                           0                            0
340                          0                            0

[331 rows x 2 columns]

In [10]:
# Import the accuracy_score function
from sklearn.metrics import accuracy_score

# Calculate the model's accuracy on the test dataset
accuracy_score(testing_targets, testing_predictions)

1.0

Recap Our Use of Logistic Regression
Let's summarize the steps that we took to use a logistic regression model:

Create a model with LogisticRegression().

Train the model with model.fit().

Make predictions with model.predict().

Evaluate the model with accuracy_score().