In [11]:
# Import modules
import pandas as pd
import sqlalchemy

In [12]:
# Create a temporary sqlite database

database_connection_string = 'sqlite:///'

# Create the database engine
engine = sqlalchemy.create_engine(
    database_connection_string,
    echo=True
)

In [13]:
engine.table_names()

2022-07-29 14:25:44,333 INFO sqlalchemy.engine.Engine SELECT name FROM sqlite_master WHERE type='table' ORDER BY name
2022-07-29 14:25:44,334 INFO sqlalchemy.engine.Engine [raw sql] ()

/Users/michaeldionne/opt/anaconda3/envs/dev/lib/python3.7/site-packages/ipykernel_launcher.py:1: SADeprecationWarning: The Engine.table_names() method is deprecated and will be removed in a future release.  Please refer to Inspector.get_table_names(). (deprecated since: 1.4)
  """Entry point for launching an IPython kernel.

[]

In [14]:
stocks_dataframe = pd.DataFrame({'AAPL': [1, 2], 'GOOG': [3, 4]})
stocks_dataframe

   AAPL  GOOG
0     1     3
1     2     4

In [15]:
stocks_dataframe.to_sql('stocks', engine, index=False, if_exists='replace')

2022-07-29 14:25:44,428 INFO sqlalchemy.engine.Engine PRAGMA main.table_info("stocks")
2022-07-29 14:25:44,429 INFO sqlalchemy.engine.Engine [raw sql] ()
2022-07-29 14:25:44,429 INFO sqlalchemy.engine.Engine PRAGMA temp.table_info("stocks")
2022-07-29 14:25:44,430 INFO sqlalchemy.engine.Engine [raw sql] ()
2022-07-29 14:25:44,431 INFO sqlalchemy.engine.Engine BEGIN (implicit)
2022-07-29 14:25:44,431 INFO sqlalchemy.engine.Engine
CREATE TABLE stocks (
	"AAPL" BIGINT,
	"GOOG" BIGINT
)


2022-07-29 14:25:44,432 INFO sqlalchemy.engine.Engine [no key 0.00047s] ()
2022-07-29 14:25:44,432 INFO sqlalchemy.engine.Engine COMMIT
2022-07-29 14:25:44,433 INFO sqlalchemy.engine.Engine BEGIN (implicit)
2022-07-29 14:25:44,434 INFO sqlalchemy.engine.Engine INSERT INTO stocks ("AAPL", "GOOG") VALUES (?, ?)
2022-07-29 14:25:44,435 INFO sqlalchemy.engine.Engine [generated in 0.00041s] ((1, 3), (2, 4))
2022-07-29 14:25:44,435 INFO sqlalchemy.engine.Engine COMMIT

In [16]:
create_table = """
CREATE TABLE stocks (
    "AAPL" BIGINT,
    "GOOG" BIGINT
)
"""
create_table

'\nCREATE TABLE stocks (\n    "AAPL" BIGINT,\n    "GOOG" BIGINT\n)\n'

In [17]:
create_table = """
CREATE TABLE delicious_stocks (
    "EAT" BIGINT,
    "CAKE" BIGINT
)
"""

In [18]:
engine.execute(create_table)

2022-07-29 14:28:04,233 INFO sqlalchemy.engine.Engine
CREATE TABLE delicious_stocks (
    "EAT" BIGINT,
    "CAKE" BIGINT
)

2022-07-29 14:28:04,234 INFO sqlalchemy.engine.Engine [raw sql] ()
2022-07-29 14:28:04,235 INFO sqlalchemy.engine.Engine COMMIT

In [19]:
engine.table_names()

2022-07-29 14:28:26,280 INFO sqlalchemy.engine.Engine SELECT name FROM sqlite_master WHERE type='table' ORDER BY name
2022-07-29 14:28:26,281 INFO sqlalchemy.engine.Engine [raw sql] ()

/Users/michaeldionne/opt/anaconda3/envs/dev/lib/python3.7/site-packages/ipykernel_launcher.py:1: SADeprecationWarning: The Engine.table_names() method is deprecated and will be removed in a future release.  Please refer to Inspector.get_table_names(). (deprecated since: 1.4)
  """Entry point for launching an IPython kernel.

['delicious_stocks', 'stocks']

In [20]:
pd.read_sql_table('delicious_stocks', con=engine)

2022-07-29 14:28:44,686 INFO sqlalchemy.engine.Engine SELECT name FROM sqlite_master WHERE type='table' ORDER BY name
2022-07-29 14:28:44,687 INFO sqlalchemy.engine.Engine [raw sql] ()
2022-07-29 14:28:44,687 INFO sqlalchemy.engine.Engine SELECT name FROM sqlite_master WHERE type='view' ORDER BY name
2022-07-29 14:28:44,687 INFO sqlalchemy.engine.Engine [raw sql] ()
2022-07-29 14:28:44,688 INFO sqlalchemy.engine.Engine PRAGMA main.table_xinfo("delicious_stocks")
2022-07-29 14:28:44,689 INFO sqlalchemy.engine.Engine [raw sql] ()
2022-07-29 14:28:44,690 INFO sqlalchemy.engine.Engine SELECT sql FROM  (SELECT * FROM sqlite_master UNION ALL   SELECT * FROM sqlite_temp_master) WHERE name = ? AND type = 'table'
2022-07-29 14:28:44,690 INFO sqlalchemy.engine.Engine [raw sql] ('delicious_stocks',)
2022-07-29 14:28:44,691 INFO sqlalchemy.engine.Engine PRAGMA main.foreign_key_list("delicious_stocks")
2022-07-29 14:28:44,691 INFO sqlalchemy.engine.Engine [raw sql] ()
2022-07-29 14:28:44,692 INFO sqlalchemy.engine.Engine PRAGMA temp.foreign_key_list("delicious_stocks")
2022-07-29 14:28:44,692 INFO sqlalchemy.engine.Engine [raw sql] ()
2022-07-29 14:28:44,692 INFO sqlalchemy.engine.Engine SELECT sql FROM  (SELECT * FROM sqlite_master UNION ALL   SELECT * FROM sqlite_temp_master) WHERE name = ? AND type = 'table'
2022-07-29 14:28:44,693 INFO sqlalchemy.engine.Engine [raw sql] ('delicious_stocks',)
2022-07-29 14:28:44,694 INFO sqlalchemy.engine.Engine PRAGMA main.index_list("delicious_stocks")
2022-07-29 14:28:44,694 INFO sqlalchemy.engine.Engine [raw sql] ()
2022-07-29 14:28:44,695 INFO sqlalchemy.engine.Engine PRAGMA temp.index_list("delicious_stocks")
2022-07-29 14:28:44,695 INFO sqlalchemy.engine.Engine [raw sql] ()
2022-07-29 14:28:44,696 INFO sqlalchemy.engine.Engine PRAGMA main.index_list("delicious_stocks")
2022-07-29 14:28:44,696 INFO sqlalchemy.engine.Engine [raw sql] ()
2022-07-29 14:28:44,696 INFO sqlalchemy.engine.Engine PRAGMA temp.index_list("delicious_stocks")
2022-07-29 14:28:44,697 INFO sqlalchemy.engine.Engine [raw sql] ()
2022-07-29 14:28:44,697 INFO sqlalchemy.engine.Engine SELECT sql FROM  (SELECT * FROM sqlite_master UNION ALL   SELECT * FROM sqlite_temp_master) WHERE name = ? AND type = 'table'
2022-07-29 14:28:44,698 INFO sqlalchemy.engine.Engine [raw sql] ('delicious_stocks',)
2022-07-29 14:28:44,700 INFO sqlalchemy.engine.Engine SELECT delicious_stocks."EAT", delicious_stocks."CAKE"
FROM delicious_stocks
2022-07-29 14:28:44,700 INFO sqlalchemy.engine.Engine [generated in 0.00042s] ()

Empty DataFrame
Columns: [EAT, CAKE]
Index: []

In [21]:
insert_data = """
INSERT INTO delicious_stocks ("EAT", "CAKE") VALUES (?, ?)
"""

In [22]:
engine.execute(insert_data, ((10, 30), (20, 40)))

2022-07-29 14:29:19,872 INFO sqlalchemy.engine.Engine
INSERT INTO delicious_stocks ("EAT", "CAKE") VALUES (?, ?)

2022-07-29 14:29:19,874 INFO sqlalchemy.engine.Engine [raw sql] ((10, 30), (20, 40))
2022-07-29 14:29:19,876 INFO sqlalchemy.engine.Engine COMMIT

In [23]:
insert_data = """
INSERT INTO delicious_stocks ("EAT", "CAKE") VALUES (10, 30), (20, 40)
"""
engine.execute(insert_data)

2022-07-29 14:29:40,100 INFO sqlalchemy.engine.Engine
INSERT INTO delicious_stocks ("EAT", "CAKE") VALUES (10, 30), (20, 40)

2022-07-29 14:29:40,100 INFO sqlalchemy.engine.Engine [raw sql] ()
2022-07-29 14:29:40,101 INFO sqlalchemy.engine.Engine COMMIT

In [24]:
pd.read_sql_table('delicious_stocks', con=engine)

2022-07-29 14:29:51,587 INFO sqlalchemy.engine.Engine SELECT name FROM sqlite_master WHERE type='table' ORDER BY name
2022-07-29 14:29:51,588 INFO sqlalchemy.engine.Engine [raw sql] ()
2022-07-29 14:29:51,589 INFO sqlalchemy.engine.Engine SELECT name FROM sqlite_master WHERE type='view' ORDER BY name
2022-07-29 14:29:51,590 INFO sqlalchemy.engine.Engine [raw sql] ()
2022-07-29 14:29:51,591 INFO sqlalchemy.engine.Engine PRAGMA main.table_xinfo("delicious_stocks")
2022-07-29 14:29:51,592 INFO sqlalchemy.engine.Engine [raw sql] ()
2022-07-29 14:29:51,593 INFO sqlalchemy.engine.Engine SELECT sql FROM  (SELECT * FROM sqlite_master UNION ALL   SELECT * FROM sqlite_temp_master) WHERE name = ? AND type = 'table'
2022-07-29 14:29:51,593 INFO sqlalchemy.engine.Engine [raw sql] ('delicious_stocks',)
2022-07-29 14:29:51,594 INFO sqlalchemy.engine.Engine PRAGMA main.foreign_key_list("delicious_stocks")
2022-07-29 14:29:51,595 INFO sqlalchemy.engine.Engine [raw sql] ()
2022-07-29 14:29:51,596 INFO sqlalchemy.engine.Engine PRAGMA temp.foreign_key_list("delicious_stocks")
2022-07-29 14:29:51,597 INFO sqlalchemy.engine.Engine [raw sql] ()
2022-07-29 14:29:51,597 INFO sqlalchemy.engine.Engine SELECT sql FROM  (SELECT * FROM sqlite_master UNION ALL   SELECT * FROM sqlite_temp_master) WHERE name = ? AND type = 'table'
2022-07-29 14:29:51,598 INFO sqlalchemy.engine.Engine [raw sql] ('delicious_stocks',)
2022-07-29 14:29:51,598 INFO sqlalchemy.engine.Engine PRAGMA main.index_list("delicious_stocks")
2022-07-29 14:29:51,599 INFO sqlalchemy.engine.Engine [raw sql] ()
2022-07-29 14:29:51,599 INFO sqlalchemy.engine.Engine PRAGMA temp.index_list("delicious_stocks")
2022-07-29 14:29:51,600 INFO sqlalchemy.engine.Engine [raw sql] ()
2022-07-29 14:29:51,600 INFO sqlalchemy.engine.Engine PRAGMA main.index_list("delicious_stocks")
2022-07-29 14:29:51,601 INFO sqlalchemy.engine.Engine [raw sql] ()
2022-07-29 14:29:51,601 INFO sqlalchemy.engine.Engine PRAGMA temp.index_list("delicious_stocks")
2022-07-29 14:29:51,601 INFO sqlalchemy.engine.Engine [raw sql] ()
2022-07-29 14:29:51,601 INFO sqlalchemy.engine.Engine SELECT sql FROM  (SELECT * FROM sqlite_master UNION ALL   SELECT * FROM sqlite_temp_master) WHERE name = ? AND type = 'table'
2022-07-29 14:29:51,602 INFO sqlalchemy.engine.Engine [raw sql] ('delicious_stocks',)
2022-07-29 14:29:51,603 INFO sqlalchemy.engine.Engine SELECT delicious_stocks."EAT", delicious_stocks."CAKE"
FROM delicious_stocks
2022-07-29 14:29:51,603 INFO sqlalchemy.engine.Engine [generated in 0.00041s] ()

   EAT  CAKE
0   10    30
1   20    40
2   10    30
3   20    40

In [25]:
read_all_data = """
SELECT "EAT", "CAKE" FROM delicious_stocks
"""
engine.execute(read_all_data)

2022-07-29 14:30:59,306 INFO sqlalchemy.engine.Engine
SELECT "EAT", "CAKE" FROM delicious_stocks

2022-07-29 14:30:59,307 INFO sqlalchemy.engine.Engine [raw sql] ()

In [26]:
read_all_data = """
SELECT "EAT", "CAKE" FROM delicious_stocks
"""
results = engine.execute(read_all_data)
for row in results:
    print(row)

2022-07-29 14:31:23,259 INFO sqlalchemy.engine.Engine
SELECT "EAT", "CAKE" FROM delicious_stocks

2022-07-29 14:31:23,259 INFO sqlalchemy.engine.Engine [raw sql] ()
(10, 30)
(20, 40)
(10, 30)
(20, 40)

In [27]:
results = engine.execute(read_all_data)
list(results)

2022-07-29 14:31:37,343 INFO sqlalchemy.engine.Engine
SELECT "EAT", "CAKE" FROM delicious_stocks

2022-07-29 14:31:37,343 INFO sqlalchemy.engine.Engine [raw sql] ()

[(10, 30), (20, 40), (10, 30), (20, 40)]

In [28]:
read_all_data = """
SELECT * FROM delicious_stocks
"""
results = engine.execute(read_all_data)
list(results)

2022-07-29 14:31:53,322 INFO sqlalchemy.engine.Engine
SELECT * FROM delicious_stocks

2022-07-29 14:31:53,323 INFO sqlalchemy.engine.Engine [raw sql] ()

[(10, 30), (20, 40), (10, 30), (20, 40)]

In [29]:
# 7.1.7 Update data
update_cake = """
UPDATE delicious_stocks
SET CAKE = 100
WHERE CAKE = 40
"""
engine.execute(update_cake)

2022-07-29 14:32:59,124 INFO sqlalchemy.engine.Engine
UPDATE delicious_stocks
SET CAKE = 100
WHERE CAKE = 40

2022-07-29 14:32:59,125 INFO sqlalchemy.engine.Engine [raw sql] ()
2022-07-29 14:32:59,126 INFO sqlalchemy.engine.Engine COMMIT

In [30]:
read_all_data = """
SELECT * FROM delicious_stocks
"""
results = engine.execute(read_all_data)
list(results)

2022-07-29 14:33:18,978 INFO sqlalchemy.engine.Engine
SELECT * FROM delicious_stocks

2022-07-29 14:33:18,978 INFO sqlalchemy.engine.Engine [raw sql] ()

[(10, 30), (20, 100), (10, 30), (20, 100)]

In [31]:
#7.1.8 Delete data

delete_eat = """
DELETE FROM delicious_stocks
WHERE EAT = 20
"""
engine.execute(delete_eat)

2022-07-29 14:34:04,060 INFO sqlalchemy.engine.Engine
DELETE FROM delicious_stocks
WHERE EAT = 20

2022-07-29 14:34:04,060 INFO sqlalchemy.engine.Engine [raw sql] ()
2022-07-29 14:34:04,061 INFO sqlalchemy.engine.Engine COMMIT

In [32]:
read_all_data = """
SELECT * FROM delicious_stocks
"""
results = engine.execute(read_all_data)
list(results)

2022-07-29 14:34:16,251 INFO sqlalchemy.engine.Engine
SELECT * FROM delicious_stocks

2022-07-29 14:34:16,252 INFO sqlalchemy.engine.Engine [raw sql] ()

[(10, 30), (10, 30)]