In [1]:
import pandas as pd
import sqlalchemy

In [2]:
# Create a temporary sqlite database
database_connection_string = 'sqlite:///'

In [3]:
engine = sqlalchemy.create_engine(database_connection_string)
engine

Engine(sqlite:///)

In [4]:
engine.table_names()

/Users/michaeldionne/opt/anaconda3/envs/dev/lib/python3.7/site-packages/ipykernel_launcher.py:1: SADeprecationWarning: The Engine.table_names() method is deprecated and will be removed in a future release.  Please refer to Inspector.get_table_names(). (deprecated since: 1.4)
  """Entry point for launching an IPython kernel.

[]

In [5]:
stocks_dataframe = pd.DataFrame({'AAPL': [1, 2], 'GOOG': [3, 4]})
stocks_dataframe

   AAPL  GOOG
0     1     3
1     2     4

In [6]:
stocks_dataframe.to_sql('stocks', engine)

In [7]:
engine.table_names()

/Users/michaeldionne/opt/anaconda3/envs/dev/lib/python3.7/site-packages/ipykernel_launcher.py:1: SADeprecationWarning: The Engine.table_names() method is deprecated and will be removed in a future release.  Please refer to Inspector.get_table_names(). (deprecated since: 1.4)
  """Entry point for launching an IPython kernel.

['stocks']

In [8]:
sql_stocks_df = pd.read_sql_table('stocks', con=engine)
sql_stocks_df

   index  AAPL  GOOG
0      0     1     3
1      1     2     4

In [9]:
stocks_dataframe.to_sql('stocks', engine, index=False, if_exists='replace')
sql_stocks_df = pd.read_sql_table('stocks', con=engine)
sql_stocks_df

   AAPL  GOOG
0     1     3
1     2     4

In [10]:
# Create a temporary sqlite database
database_connection_string = 'sqlite:///'

# Create the database engine
engine = sqlalchemy.create_engine(
    database_connection_string,
    echo=True
)

In [11]:
stocks_dataframe.to_sql('stocks', engine, index=False, if_exists='replace')

2022-07-29 14:20:51,278 INFO sqlalchemy.engine.Engine PRAGMA main.table_info("stocks")
2022-07-29 14:20:51,279 INFO sqlalchemy.engine.Engine [raw sql] ()
2022-07-29 14:20:51,279 INFO sqlalchemy.engine.Engine PRAGMA temp.table_info("stocks")
2022-07-29 14:20:51,280 INFO sqlalchemy.engine.Engine [raw sql] ()
2022-07-29 14:20:51,281 INFO sqlalchemy.engine.Engine BEGIN (implicit)
2022-07-29 14:20:51,281 INFO sqlalchemy.engine.Engine
CREATE TABLE stocks (
	"AAPL" BIGINT,
	"GOOG" BIGINT
)


2022-07-29 14:20:51,281 INFO sqlalchemy.engine.Engine [no key 0.00032s] ()
2022-07-29 14:20:51,282 INFO sqlalchemy.engine.Engine COMMIT
2022-07-29 14:20:51,283 INFO sqlalchemy.engine.Engine BEGIN (implicit)
2022-07-29 14:20:51,283 INFO sqlalchemy.engine.Engine INSERT INTO stocks ("AAPL", "GOOG") VALUES (?, ?)
2022-07-29 14:20:51,284 INFO sqlalchemy.engine.Engine [generated in 0.00039s] ((1, 3), (2, 4))
2022-07-29 14:20:51,284 INFO sqlalchemy.engine.Engine COMMIT

In [12]:
CREATE TABLE stocks (
    "AAPL" BIGINT,
    "GOOG" BIGINT
)

SyntaxError: invalid syntax (889931139.py, line 1)