# Headerless Horseman

In this activity, youâ€™ll update the column headers of a DataFrame.


Instructions:

1. Import the Pandas and `pathlib` libraries.

2. Define the relative path to the CSV file by using the `Path` module.

3. Use the Pandas `read_csv` function to create the DataFrame.

4. Use the `head` function to view the first five rows of the DataFrame.

5. Create a list of column names that contains the values `Date`, `Cisco`, `Dell`, `Intel`, and `Microsoft`.

6. Assign the list of column names as the column headers for the DataFrame.

7. To confirm that Pandas correctly assigned the column headers, call the `head` function to view the first five rows of the DataFrame.
   

References:

[Pandas read_csv function](https://pandas.pydata.org/pandas-docs/stable/reference/api/pandas.read_csv.html)


[Pandas head function](https://pandas.pydata.org/pandas-docs/stable/reference/api/pandas.DataFrame.head.html)

## Step 1: Import the Pandas and `pathlib` libraries.

In [9]:
# Import the Pandas library
import pandas as pd

# Import the Path module from the pathlib library
from pathlib import Path

## Step 2: Define the relative path to the CSV file by using the `Path` module.

In [10]:
# Using the Path module, set the relative path to the "the_four_horsemen.csv" file
# This "the_four_horsemen.csv" file is located in your Resources folder
csvpath = Path("/Users/michaeldionne/Desktop/Fintech-Workspace/Module 3/Reading activities/03_Fix_Rows/sales.csv")

## Step 3. Use the Pandas `read_csv` function to create the DataFrame.

In [11]:
# Use the Pandas read_csv function to create the DataFrame
# Read in the `csvpath` variable 
# To the `read_csv` function, add the parameter header and set it equal to the value None
sales_dataframe = pd.read_csv(
    Path("/Users/michaeldionne/Desktop/Fintech-Workspace/Module 3/Reading activities/03_Fix_Rows/sales.csv"),
    index_col="Date",
    parse_dates=True,
    infer_datetime_format=True)

## Step 4: Use the `head` function to view the first five rows of the DataFrame.

In [12]:
# Call the head function to review the first 5 rows of the DataFrame

sales_dataframe.head()

           Net Sales (mill) Net Income (mill)     EPS
Date
2017-09-30          229,234            48,351   $9.27
2018-09-29          265,595            59,531  $12.01
2019-09-28          260,174            55,256  $11.97

## Step 5: Create a list of column names that contains the values `Date`, `Cisco`, `Dell`, `Intel`, and `Microsoft`.

In [13]:
# Create a list that contains the names that will be used for the column header
# The values, in order, are: 'Date', 'Cisco', 'Dell', 'Intel', 'Microsoft'

## Step 6: Assign the list of column names as the column headers for the DataFrame.

In [14]:
# Call the 'horseman_df' and the `columns` attribute
# Set that equal to the variable name assigned to the list of column names
# YOUR CODE HERE

## Step 7: To confirm that Pandas correctly assigned the column headers, call the `head` function to view the first five rows of the DataFrame.

In [15]:
# Call the head function to review the first 5 rows of the DataFrame
# Confirm that the column headers have been assigned appropriately
sales_dataframe.head()

           Net Sales (mill) Net Income (mill)     EPS
Date
2017-09-30          229,234            48,351   $9.27
2018-09-29          265,595            59,531  $12.01
2019-09-28          260,174            55,256  $11.97