In [2]:
import pandas as pd
from pathlib import Path

In [4]:
csvpath = Path("../03_Fix_Rows/sales.csv")

In [6]:
sales_data = pd.read_csv(csvpath)
sales_data.head()

        Date Net Sales (mill) Net Income (mill)     EPS
0  9/30/2017          229,234            48,351   $9.27
1  9/29/2018          265,595            59,531  $12.01
2  9/28/2019          260,174            55,256  $11.97

In [7]:
sales_data.set_index('Date')

          Net Sales (mill) Net Income (mill)     EPS
Date
9/30/2017          229,234            48,351   $9.27
9/29/2018          265,595            59,531  $12.01
9/28/2019          260,174            55,256  $11.97

In [8]:
sales_data = pd.read_csv(
    Path("../03_Fix_Rows/sales.csv"),
    index_col="Date",
    parse_dates=True,
    infer_datetime_format=True,
)
sales_data.head()

TypeError: 'DataFrame' object is not callable