In [1]:
# Import the required libraries
import pandas as pd 
from pathlib import Path

In [5]:
# Use the Path module to define the relative path to the CSV file
csvpath = Path("../01_Import_Data/sales.csv")

In [6]:
#Use the Pandas read_csv function to create the Dataframe
sales_dataframe = pd.read_csv(csvpath)

#Review the first 5 rows of the DF with the head function
sales_dataframe.head()

          FullName                   Email    Zip  SalePrice
0    Elwanda White      alyre2036@live.com   9236      84.33
1   Lyndon Elliott  arrowy1873@outlook.com   1330     879.95
2   Daisey Sellers  toucan2024@outlook.com   7631     907.58
3     Issac Reeves    asarin1958@gmail.com  81168     545.88
4  Bradford Kinney  mibound1801@yandex.com  41721     517.49

In [ ]:
sales_dataframe.tail()