In [8]:
import pandas as pd 
from pathlib import Path

In [9]:
items_csv = Path("../01-Missing_Data/items.csv")
items_df = pd.read_csv(items_csv)
items_df

   Item Number  Price   Quantity
0         2468    2.99       250
1         1357     NaN       300
2         9753    3.47       350

In [10]:
# use isnull function first to make NaN data "True"

items_df.isnull()

   Item Number  Price   Quantity
0        False   False     False
1        False    True     False
2        False   False     False

In [11]:
#count number of True values with sum function
items_df.isnull().sum()

Item Number    0
Price          1
Quantity       0
dtype: int64

In [12]:
# can use mean to determine percentage of missing values
items_df.isnull().mean()

Item Number    0.000000
Price          0.333333
Quantity       0.000000
dtype: float64

In [13]:
# example question

import pandas as pd
import numpy as np

apple_df = pd.DataFrame({"AAPL": [72.27, np.nan, 74.39, np.nan, 75.94, 76.93,np.nan, 78.74, np.nan, 79.81, np.nan, 79.53, np.nan, 79.56, 79.49]})

apple_df

     AAPL
0   72.27
1     NaN
2   74.39
3     NaN
4   75.94
5   76.93
6     NaN
7   78.74
8     NaN
9   79.81
10    NaN
11  79.53
12    NaN
13  79.56
14  79.49

In [14]:
apple_df.isnull().sum()

AAPL    6
dtype: int64