In [2]:
import pandas as pd
import numpy as np
daily_returns = pd.DataFrame({
    "AAPL": [0.5, np.nan, 0.62],
    "GOOG": [0.45, 0.63, 0.55]
})
daily_returns

   AAPL  GOOG
0  0.50  0.45
1   NaN  0.63
2  0.62  0.55

In [3]:
#dropna function
daily_returns.dropna()

   AAPL  GOOG
0  0.50  0.45
2  0.62  0.55

In [4]:
# fillna function

# Replace the NaNs with "Unknown"
daily_returns = daily_returns.fillna("Unknown")

# Replace the NaNs with 0
daily_returns = daily_returns.fillna(0)

# Replace the NaNs with the mean of the column
daily_returns = daily_returns.fillna(daily_returns.mean())

daily_returns

/var/folders/rx/gc6cx7xx6vg9ddbljytmzcz00000gn/T/ipykernel_46381/1269838631.py:10: FutureWarning: Dropping of nuisance columns in DataFrame reductions (with 'numeric_only=None') is deprecated; in a future version this will raise TypeError.  Select only valid columns before calling the reduction.
  daily_returns = daily_returns.fillna(daily_returns.mean())

      AAPL  GOOG
0      0.5  0.45
1  Unknown  0.63
2     0.62  0.55

In [5]:
# use fillna for a single column

daily_returns.loc[:, "AAPL"] = daily_returns.loc[:, "AAPL"].fillna(0)
daily_returns.isnull().sum()

AAPL    0
GOOG    0
dtype: int64