In [18]:
import pandas as pd
from pathlib import Path
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns

In [19]:
aapl_returns = pd.DataFrame({"AAPL": [0.5, 0.56, 0.59, 0.52, 0.1]})

# Select the first row using iloc
aapl_returns.iloc[0]

AAPL    0.5
Name: 0, dtype: float64

In [20]:
aapl_returns = [0.5, 0.56, 0.59, 0.52, 0.1]
first_three = aapl_returns[0:3]

In [16]:
loans = pd.DataFrame(
    np.random.randint(low=1, high=1000, size=1000),
    index=pd.date_range('1/1/2017', periods=1000),
    columns=["JPM"])
loans.tail()

            JPM
2019-09-23   80
2019-09-24  407
2019-09-25  740
2019-09-26  418
2019-09-27  464

In [25]:
# Select the last quarter of 2018 to the first quarter of 2019
loans.loc['2018-10-01':'2019-03-31']

            JPM
2018-10-01  556
2018-10-02  782
2018-10-03  583
2018-10-04  725
2018-10-05  420
...         ...
2019-03-27  576
2019-03-28  956
2019-03-29  555
2019-03-30  942
2019-03-31  221

[182 rows x 1 columns]

In [26]:
# Describe the data by using summary statistics
loans.loc['2018-10-01':'2019-03-31'].describe()

              JPM
count  182.000000
mean   463.318681
std    293.157242
min      8.000000
25%    201.250000
50%    433.000000
75%    723.500000
max    999.000000

In [ ]:
# Plot the distribution of the data
loans.loc['2018-10-01':'2019-03-31'].plot(kind="hist")