In [1]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
from pathlib import Path

In [2]:
daily_returns = pd.DataFrame(
    np.random.randn(10, 2),
    index=pd.date_range('1/1/2020', periods=10),
    columns=["AAPL", "GOOG"])
daily_returns.head()

                AAPL      GOOG
2020-01-01 -0.561827 -1.254898
2020-01-02  0.702988 -1.191042
2020-01-03  0.180956  1.497930
2020-01-04 -1.895503  1.711628
2020-01-05 -0.104090  0.401282

In [3]:
# Select the first three rows and the first column
# 
daily_returns.iloc[0:3, 0]

2020-01-01   -0.561827
2020-01-02    0.702988
2020-01-03    0.180956
Freq: D, Name: AAPL, dtype: float64

In [4]:
# select the second column
daily_returns.iloc[0:3,1]

2020-01-01   -1.254898
2020-01-02   -1.191042
2020-01-03    1.497930
Freq: D, Name: GOOG, dtype: float64

In [5]:
# Select all rows for the "GOOG" column
google_returns = daily_returns.loc[:, "GOOG"]
google_returns.tail()

2020-01-06    0.911032
2020-01-07    1.073922
2020-01-08    1.278257
2020-01-09   -0.823019
2020-01-10    0.494066
Freq: D, Name: GOOG, dtype: float64

In [ ]:
# use ":" to select all the rows for the rows position