In [2]:
import pandas as pd
import matplotlib.pyplot as plt
from pathlib import Path
import numpy as np

In [7]:
# boolean filter is a Py or Pandas series of T/F values
boolean_filter = [True, True, False, False, True]
aapl_returns = pd.DataFrame({'AAPL': np.random.randn(5)})
aapl_returns

       AAPL
0  0.830317
1  0.331185
2 -1.272376
3 -0.832660
4 -2.374131

In [8]:
aapl_returns.loc[boolean_filter]

       AAPL
0  0.830317
1  0.331185
4 -2.374131

In [10]:
# Use boolean filters to filter out columns of data
daily_returns = pd.DataFrame({
    'AAPL': np.random.randn(5),
    'GOOG': np.random.randn(5),
    'MSFT': np.random.randn(5),
})
daily_returns

       AAPL      GOOG      MSFT
0  0.029199  0.001407 -0.631041
1 -0.004786  0.927133 -0.942269
2  0.087484  0.668390  2.724587
3  0.151421 -0.639802  1.536125
4  0.429497 -0.419166 -1.806149

In [11]:
boolean_filter = [True, True, False]
daily_returns.loc[:, boolean_filter]

       AAPL      GOOG
0  0.029199  0.001407
1 -0.004786  0.927133
2  0.087484  0.668390
3  0.151421 -0.639802
4  0.429497 -0.419166

In [12]:
# skill drill
daily_returns = pd.DataFrame({
    'AAPL': np.random.randn(5),
    'GOOG': np.random.randn(5),
    'MSFT': np.random.randn(5),
})
daily_returns

       AAPL      GOOG      MSFT
0  0.099216 -0.227706  0.795885
1  1.306126 -1.231111 -1.887189
2  1.953657 -0.945085  0.275301
3  0.211916 -1.031623  0.379577
4 -0.294009 -0.937825 -0.311213

In [13]:
# boolean filter to remove Goog
boolean_filter = [True, False, True]
daily_returns.loc[:, boolean_filter]

       AAPL      MSFT
0  0.099216  0.795885
1  1.306126 -1.887189
2  1.953657  0.275301
3  0.211916  0.379577
4 -0.294009 -0.311213

### Using comparison operators

In [14]:
# Create a returns DataFrame for Apple
aapl_returns = pd.DataFrame({'AAPL': np.random.randn(10) + 1})

# Create the conditional statement
# The condition evaluates True if the aapl_returns[''] are greater than 0
# The condition evaluates False otherwise
aapl_returns["AAPL"] > 0

0     True
1     True
2     True
3    False
4     True
5     True
6     True
7     True
8     True
9     True
Name: AAPL, dtype: bool

In [15]:
boolean_filter = aapl_returns["AAPL"] > 0

aapl_returns.loc[boolean_filter]

       AAPL
0  0.242472
1  1.316463
2  0.304898
4  1.214344
5  1.371741
6  2.233095
7  1.536206
8  2.730619
9  2.002548

### Logical operators

In [ ]:
# return values greater than zero but less than or equal to 2%

filter_low = aapl_returns["AAPL"] > 0
filter_high = aapl_returns["AAPL"] <= 2
aapl_returns.loc[filter_low & filter_high]