In [1]:
# Import the required libraries and dependencies including 
# Pandas and pathlib . 
import pandas as pd
from pathlib import Path

In [4]:
# Read in the CSV file called "bitcoin_1.csv" using the Path module. 
# The CSV file is located in the Resources folder.
# Set the index to the column "Timestamp"
# Set the parse_dates and infer_datetime_format parameters
bitcoin_2 = pd.read_csv(
    Path('../Readings/01-Bitcoin_Collections 2/Resources/bitcoin_2.csv'), 
    index_col="Timestamp", 
    parse_dates=True, 
    infer_datetime_format=True
)

# Review the first 5 rows of the 'bitcoin_2' DataFrame
bitcoin_2.head()

                      Close
Timestamp
2015-01-07 20:24:00  360.00
2015-01-07 20:27:00  276.34
2015-01-07 20:28:00  271.60
2015-01-07 20:29:00  344.67
2015-01-07 20:30:00  305.38

In [5]:
bitcoin_2.tail()

                      Close
Timestamp
2015-12-31 23:55:00  437.02
2015-12-31 23:56:00  437.07
2015-12-31 23:57:00  436.03
2015-12-31 23:58:00  436.13
2015-12-31 23:59:00  436.12