In [1]:
# Import the required libraries and dependencies including 
# Pandas and pathlib . 
import pandas as pd
from pathlib import Path

In [8]:
# Read in the CSV file called "bitcoin_1.csv" using the Path module. 
# The CSV file is located in the Resources folder.
# Set the index to the column "Timestamp"
# Set the parse_dates and infer_datetime_format parameters
bitcoin_1 = pd.read_csv(
    Path('../Readings/01-Bitcoin_Collections 2/Resources/bitcoin_1.csv'), 
    index_col="Timestamp", 
    parse_dates=True, 
    infer_datetime_format=True
)

# Review the first 5 rows of the 'bitcoin_2' DataFrame
bitcoin_1.head()

                     Close
Timestamp
2015-01-01 00:00:00  314.0
2015-01-01 00:01:00  314.0
2015-01-01 00:02:00  314.0
2015-01-01 00:03:00  314.0
2015-01-01 00:04:00  313.9

In [9]:
bitcoin_1.isnull

<bound method DataFrame.isnull of                       Close
Timestamp
2015-01-01 00:00:00  314.00
2015-01-01 00:01:00  314.00
2015-01-01 00:02:00  314.00
2015-01-01 00:03:00  314.00
2015-01-01 00:04:00  313.90
...                     ...
2015-12-31 23:53:00  435.66
2015-12-31 23:54:00  435.21
2015-12-31 23:56:00  435.17
2015-12-31 23:57:00  435.10
2015-12-31 23:58:00  435.11

[372773 rows x 1 columns]>

In [10]:
bitcoin_1.sum()

Close    1.022979e+08
dtype: float64

In [11]:
bitcoin_1.mean()

Close    274.423996
dtype: float64

In [12]:
# Read in the CSV file called "bitcoin_1.csv" using the Path module. 
# The CSV file is located in the Resources folder.
# Set the index to the column "Timestamp"
# Set the parse_dates and infer_datetime_format parameters
bitcoin_2 = pd.read_csv(
    Path('../Readings/01-Bitcoin_Collections 2/Resources/bitcoin_2.csv'), 
    index_col="Timestamp", 
    parse_dates=True, 
    infer_datetime_format=True
)

# Review the first 5 rows of the 'bitcoin_2' DataFrame
bitcoin_2.head()

                      Close
Timestamp
2015-01-07 20:24:00  360.00
2015-01-07 20:27:00  276.34
2015-01-07 20:28:00  271.60
2015-01-07 20:29:00  344.67
2015-01-07 20:30:00  305.38

In [18]:
bitcoin_2.isnull().sum()

Close    0
dtype: int64

In [16]:
bitcoin_1.duplicated().sum()

Timestamp
2015-01-01 00:00:00    False
2015-01-01 00:01:00     True
2015-01-01 00:02:00     True
2015-01-01 00:03:00     True
2015-01-01 00:04:00    False
                       ...
2015-12-31 23:53:00     True
2015-12-31 23:54:00     True
2015-12-31 23:56:00     True
2015-12-31 23:57:00     True
2015-12-31 23:58:00     True
Length: 372773, dtype: bool

In [17]:
#duplicated values aren't true. look at time
#series analysis and the times are different.
#checking for dtypes for int or float is good
bitcoin_1['Close'].dtypes

dtype('float64')