In [8]:
import pandas as pd
from dotenv import load_dotenv
import os
from pathlib import Path 

#import nasdaq data with API key
load_dotenv()
api_key = os.getenv("NASDAQ_API_KEY")

In [9]:
#nasdaqdatalink.ApiConfig.api_key = api_key

In [31]:
sfh_df = pd.read_csv(Path("/Users/michaeldionne/Documents/GitHub/Fintech-Workspace/Module 11/Reading/01-Seasonal_Patterns/national-home-sales.csv"))

sfh_df.head()

  period_end_date  inventory  homes_sold  median_sale_price
0      2020-01-01    1250798      377964             289000
1      2020-02-01    1265253      405992             294000
2      2020-03-01    1316823      507324             303000
3      2020-04-01    1297460      436855             304000
4      2020-05-01    1289500      421351             299000

In [33]:

sfh = sfh_df.loc[sfh_df ["inventory"] == 1289500]
sfh.head()

  period_end_date  inventory  homes_sold  median_sale_price
4      2020-05-01    1289500      421351             299000

In [25]:
#sfh_df = sfh_df.loc[sfh_df ["inventory"] == "1289500"]

# find all inventory = 1289500
 

#sfh_df = sfh_df.loc[sfh_df ["inventory"] == "1289500"]


#sfh_df = sfh_df.loc["inventory"] == "1289500"
#sfh = sfh_df.loc["inventory"] == "1289500"
sfh_df.head()

Empty DataFrame
Columns: [period_end_date, inventory, homes_sold, median_sale_price]
Index: []