In [1]:
import pandas as pd
import numpy as np
daily_returns = pd.DataFrame({
    "AAPL": [0.5, np.nan, 0.62],
    "GOOG": [0.45, 0.63, 0.55]
})
daily_returns

   AAPL  GOOG
0  0.50  0.45
1   NaN  0.63
2  0.62  0.55

### add drop_na to daily returns

In [2]:
import pandas as pd
import numpy as np
daily_returns = pd.DataFrame({
    "AAPL": [0.5, np.nan, 0.62],
    "GOOG": [0.45, 0.63, 0.55]
})
daily_returns.dropna()

   AAPL  GOOG
0  0.50  0.45
2  0.62  0.55

## use fillna to replace each NaN value 

### Replace the NaNs with "Unknown"
daily_returns = daily_returns.fillna("Unknown")

### Replace the NaNs with 0
daily_returns = daily_returns.fillna(0)

""" Replace the NaNs with the mean of the column
daily_returns = daily_returns.fillna(daily_returns.mean())

In [6]:
#replace with unknown

import pandas as pd
import numpy as np

daily_returns = pd.DataFrame({
    "AAPL": [0.5, np.nan, 0.62],
    "GOOG": [0.45, 0.63, 0.55]
})
daily_returns = daily_returns.fillna("Unknown")
daily_returns

      AAPL  GOOG
0      0.5  0.45
1  Unknown  0.63
2     0.62  0.55

In [7]:
#replace with 0

import pandas as pd
import numpy as np

daily_returns = pd.DataFrame({
    "AAPL": [0.5, np.nan, 0.62],
    "GOOG": [0.45, 0.63, 0.55]
})
daily_returns = daily_returns.fillna(0)
daily_returns

   AAPL  GOOG
0  0.50  0.45
1  0.00  0.63
2  0.62  0.55

In [9]:
#replace with mean

import pandas as pd
import numpy as np

daily_returns = pd.DataFrame({
    "AAPL": [0.5, np.nan, 0.62],
    "GOOG": [0.45, 0.63, 0.55]
})
daily_returns = daily_returns.fillna(daily_returns.mean())
daily_returns

   AAPL  GOOG
0  0.50  0.45
1  0.56  0.63
2  0.62  0.55

In [11]:
#replace AAPL or GOOG column using loc or iloc

import pandas as pd
import numpy as np

daily_returns = pd.DataFrame({
    "AAPL": [0.5, np.nan, 0.62],
    "GOOG": [0.45, 0.63, 0.55]
})
daily_returns.loc[:, "AAPL"] = daily_returns.loc[:, "AAPL"].fillna(0)
daily_returns.isnull().sum()

AAPL    0
GOOG    0
dtype: int64

Find duplicate data exercise 3.2.5

In [4]:
import pandas as pd
best_actors_df = pd.DataFrame({
    "Best Actors": ["Nic Cage", "Nic Cage", "Harrison Ford"]
})
best_actors_df

best_actors_df.duplicated()

#add sum function (answer is one cause only 1 duplicate data exists)
best_actors_df.duplicated().sum()

#drop duplicates
best_actors_df = best_actors_df.drop_duplicates()
best_actors_df

     Best Actors
0       Nic Cage
2  Harrison Ford