# Predicting Employees Attrition

In this activity, you will apply your knowledge of deep learning models to predict whether an employee is likely to depart from a company.

## Instructions:

The steps for this activity are broken out into the following sections:

* Preprocess the data.

* Create a neural network model to predict employee attrition.

* Train and evaluate the neural network model.


#### Preprocess the Data 

1. Read the `HR-Employee-Attrition.csv` file from the Resources folder and create a DataFrame.

2. Review the resulting DataFrame. Check the data type associated with each column to identify categorical and non-categorical variables.

> **Hint** Recall that categorical variables have an `object` data type.

3. Create a list of categorical variables.

> **Rewind** The Pandas DataFrame `dtypes` property returns a Pandas Series that displays the data type of each column. The column name is the index. You can create the list of categorical variables manually. Or, you can use Pandas filtering. For more detail about the filtering process, review the [`dtypes` documentation at Pandas API reference](https://pandas.pydata.org/pandas-docs/stable/reference/api/pandas.DataFrame.dtypes.html).

4. Use the `OneHotEncoder` module from scikit-learn to encode the data set's categorical variables.

5. Create a new DataFrame named `attrition_df` that contains the encoded categorical variables and the numerical variables from the original dataset.

> **Note** To complete this step, you will employ the Pandas `concat()` function, which was introduced earlier in the course. Recall that we use the `concat` function to combine data from different DataFrames into a new DataFrame. In this case, you’ll use `concat` to create a new DataFrame containing the preprocessed data. You can learn more about the `concat` function in [this section of the Pandas documentation](https://pandas.pydata.org/pandas-docs/stable/reference/api/pandas.concat.html).

6. Use `attrition_df` to create the features (`X`) and target (`y`) sets. 

    * In this activity, we want to build a model that predicts whether a person is at risk for attrition. So, we must separate the attrition columns from the rest of the input data. In fact, because the attrition data is binary (one of two values), we only need to keep the “Attrition_Yes” column. We can ignore the “Attrition_No” column, because it is redundant. So, the “Attrition_Yes” column will become the target set `y`.

    * The rest of the DataFrame columns will become the features set `X`. 
    
7. Create the training and testing sets using the `train_test_split` function from scikit-learn.

8. Use scikit-learn’s `StandardScaler` to standardize the numerical features.

#### Create a Neural Network Model to Predict Employee Attrition

1. Use the optimization techniques presented in this lesson to create a deep neural network model with two hidden layers.

    * Set a variable `number_input_features` equal to the number of input features.

    * Set a variable `hidden_nodes_layer1` equal to an integer number close to the mean of the number of input features and the number of neurons in the output layer.

    * Set a variable `hidden_nodes_layer2` equal to an integer number close to the mean of the number of hidden nodes defined for the first layer and the number of neurons in the output layer.

    * Add the model’s layers, and use the `relu` activation function for each hidden layer.

    * This model will predict a binary output. So, add an output layer with one neuron, and use the `sigmoid` activation function.

> **Hint** To set the number of input features, you can fetch the length of the first element, like this: `number_input_features = len(X_train.iloc[0])`.

2. Display the structure of your model using the `summary` function.

3. Compile the model. Use the `binary_crossentropy` loss function, the `adam` optimizer, and the `accuracy` metric.


#### Train and Evaluate the Neural Network Model

1. Train (fit) the neural network model. Use the training data and set 100 epochs.

2. Evaluate the model using the test data to determine its loss and accuracy.

3. Save and export your model to an HDF5 file. Name the file `employee_attrition.h5`.

## References:

[Keras Sequential model](https://keras.io/api/models/sequential/)

[Keras Dense module](https://keras.io/api/layers/core_layers/dense/)

[Keras evaluate](https://keras.io/api/models/model_training_apis/)

[SKLearn OneHotEncoder](https://scikit-learn.org/stable/modules/generated/sklearn.preprocessing.OneHotEncoder.html)

In [32]:
# Imports
import pandas as pd
import tensorflow as tf
from tensorflow.keras.layers import Dense
from tensorflow.keras.models import Sequential
from pathlib import Path
from sklearn.model_selection import train_test_split
from sklearn.preprocessing import StandardScaler

---

## Preprocess the data.

### Step 1: Read the `HR-Employee-Attrition.csv` file from the Resources folder and create a DataFrame.

In [23]:
# Read the HR-Employee-Attrition.csv file from the Resources folder into a Pandas DataFrame
employee_df = pd.read_csv(Path("../Resources/HR-Employee-Attrition.csv"))

### Step 2: Review the resulting DataFrame. Check the data type associated with each column to identify categorical and non-categorical variables.

> **Hint** Recall that categorical variables have an `object` data type.

In [24]:
# Review the DataFrame
employee_df.head()

,Age,Attrition,BusinessTravel,DailyRate,Department,DistanceFromHome,Education,EducationField,EmployeeCount,EmployeeNumber,...,RelationshipSatisfaction,StandardHours,StockOptionLevel,TotalWorkingYears,TrainingTimesLastYear,WorkLifeBalance,YearsAtCompany,YearsInCurrentRole,YearsSinceLastPromotion,YearsWithCurrManager
0,41,Yes,Travel_Rarely,1102,Sales,1,2,Life Sciences,1,1,...,1,80,0,8,0,1,6,4,0,5
1,49,No,Travel_Frequently,279,Research & Development,8,1,Life Sciences,1,2,...,4,80,1,10,3,3,10,7,1,7
2,37,Yes,Travel_Rarely,1373,Research & Development,2,2,Other,1,4,...,2,80,0,7,3,3,0,0,0,0
3,33,No,Travel_Frequently,1392,Research & Development,3,4,Life Sciences,1,5,...,3,80,0,8,3,3,8,7,3,0
4,27,No,Travel_Rarely,591,Research & Development,2,1,Medical,1,7,...,4,80,1,6,3,3,2,2,2,2

In [25]:
# Review the data types associated with the columns
employee_df.dtypes

Age                          int64
Attrition                   object
BusinessTravel              object
DailyRate                    int64
Department                  object
DistanceFromHome             int64
Education                    int64
EducationField              object
EmployeeCount                int64
EmployeeNumber               int64
EnvironmentSatisfaction      int64
Gender                      object
HourlyRate                   int64
JobInvolvement               int64
JobLevel                     int64
JobRole                     object
JobSatisfaction              int64
MaritalStatus               object
MonthlyIncome                int64
MonthlyRate                  int64
NumCompaniesWorked           int64
Over18                      object
OverTime                    object
PercentSalaryHike            int64
PerformanceRating            int64
RelationshipSatisfaction     int64
StandardHours                int64
StockOptionLevel             int64
TotalWorkingYears            int64
TrainingTimesLastYear        int64
WorkLifeBalance              int64
YearsAtCompany               int64
YearsInCurrentRole           int64
YearsSinceLastPromotion      int64
YearsWithCurrManager         int64
dtype: object

### Step 3: Create a list of categorical variables.

In [26]:
# Create a list of categorical variables 
categorical_variables =  ["Attrition", "BusinessTravel", "Department", "EducationField", "Gender", "JobRole", "MaritalStatus", "Over18", "OverTime"]

# Display the categorical variables list
categorical_variables

['Attrition',
 'BusinessTravel',
 'Department',
 'EducationField',
 'Gender',
 'JobRole',
 'MaritalStatus',
 'Over18',
 'OverTime']

### Step 4: Use the `OneHotEncoder` module from scikit-learn to encode the data set's categorical variables.

In [27]:
# Imports
from sklearn.preprocessing import OneHotEncoder

In [28]:
# Create a OneHotEncoder instance
enc =   OneHotEncoder(sparse=False)

# Encode categorical variables using OneHotEncoder
encoded_data = enc.fit_transform(employee_df[categorical_variables])

In [30]:
# Create a DataFrame with the encoded variables
# The column names should match those of the encoded variables
encoded_df = pd.DataFrame(
    encoded_data,
    columns=enc.get_feature_names(categorical_variables)
)
# Display the DataFrame
encoded_df.head()

/opt/miniconda3/lib/python3.9/site-packages/sklearn/utils/deprecation.py:87: FutureWarning: Function get_feature_names is deprecated; get_feature_names is deprecated in 1.0 and will be removed in 1.2. Please use get_feature_names_out instead.
  warnings.warn(msg, category=FutureWarning)

,Attrition_No,Attrition_Yes,BusinessTravel_Non-Travel,BusinessTravel_Travel_Frequently,BusinessTravel_Travel_Rarely,Department_Human Resources,Department_Research & Development,Department_Sales,EducationField_Human Resources,EducationField_Life Sciences,...,JobRole_Research Director,JobRole_Research Scientist,JobRole_Sales Executive,JobRole_Sales Representative,MaritalStatus_Divorced,MaritalStatus_Married,MaritalStatus_Single,Over18_Y,OverTime_No,OverTime_Yes
0,0.0,1.0,0.0,0.0,1.0,0.0,0.0,1.0,0.0,1.0,...,0.0,0.0,1.0,0.0,0.0,0.0,1.0,1.0,0.0,1.0
1,1.0,0.0,0.0,1.0,0.0,0.0,1.0,0.0,0.0,1.0,...,0.0,1.0,0.0,0.0,0.0,1.0,0.0,1.0,1.0,0.0
2,0.0,1.0,0.0,0.0,1.0,0.0,1.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,1.0,1.0,0.0,1.0
3,1.0,0.0,0.0,1.0,0.0,0.0,1.0,0.0,0.0,1.0,...,0.0,1.0,0.0,0.0,0.0,1.0,0.0,1.0,0.0,1.0
4,1.0,0.0,0.0,0.0,1.0,0.0,1.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,1.0,0.0,1.0,1.0,0.0

### Step 5: Create a new DataFrame named `attrition_df` that contains the encoded categorical variables and the numerical variables from the original dataset.

In [31]:
# Create a DataFrame with the columns containing numerical variables from the original dataset
numerical_variables_df =  employee_df.drop(columns=categorical_variables)

# Review the DataFrame
numerical_variables_df.head()

,Age,DailyRate,DistanceFromHome,Education,EmployeeCount,EmployeeNumber,EnvironmentSatisfaction,HourlyRate,JobInvolvement,JobLevel,...,RelationshipSatisfaction,StandardHours,StockOptionLevel,TotalWorkingYears,TrainingTimesLastYear,WorkLifeBalance,YearsAtCompany,YearsInCurrentRole,YearsSinceLastPromotion,YearsWithCurrManager
0,41,1102,1,2,1,1,2,94,3,2,...,1,80,0,8,0,1,6,4,0,5
1,49,279,8,1,1,2,3,61,2,2,...,4,80,1,10,3,3,10,7,1,7
2,37,1373,2,2,1,4,4,92,2,1,...,2,80,0,7,3,3,0,0,0,0
3,33,1392,3,4,1,5,4,56,3,1,...,3,80,0,8,3,3,8,7,3,0
4,27,591,2,1,1,7,1,40,3,1,...,4,80,1,6,3,3,2,2,2,2

In [39]:
# Using the Pandas concat function, combine the DataFrames the contain the encoded categorical data and the numerical data
attrition_df = pd.concat([numerical_variables_df, encoded_df], axis=1)

# Review the DataFrame
attrition_df.head()

,Age,DailyRate,DistanceFromHome,Education,EmployeeCount,EmployeeNumber,EnvironmentSatisfaction,HourlyRate,JobInvolvement,JobLevel,...,JobRole_Research Director,JobRole_Research Scientist,JobRole_Sales Executive,JobRole_Sales Representative,MaritalStatus_Divorced,MaritalStatus_Married,MaritalStatus_Single,Over18_Y,OverTime_No,OverTime_Yes
0,41,1102,1,2,1,1,2,94,3,2,...,0.0,0.0,1.0,0.0,0.0,0.0,1.0,1.0,0.0,1.0
1,49,279,8,1,1,2,3,61,2,2,...,0.0,1.0,0.0,0.0,0.0,1.0,0.0,1.0,1.0,0.0
2,37,1373,2,2,1,4,4,92,2,1,...,0.0,0.0,0.0,0.0,0.0,0.0,1.0,1.0,0.0,1.0
3,33,1392,3,4,1,5,4,56,3,1,...,0.0,1.0,0.0,0.0,0.0,1.0,0.0,1.0,0.0,1.0
4,27,591,2,1,1,7,1,40,3,1,...,0.0,0.0,0.0,0.0,0.0,1.0,0.0,1.0,1.0,0.0

### Step 6: Use `attrition_df` to create the features (`X`) and target (`y`) sets. 

    * In this activity, we want to build a model that predicts whether a person is at risk for attrition. So, we must separate the attrition columns from the rest of the input data. In fact, because the attrition data is binary (one of two values), we only need to keep the “Attrition_Yes” column. We can ignore the “Attrition_No” column, because it is redundant. So, the “Attrition_Yes” column will become the target set `y`.

    * The rest of the DataFrame columns will become the features set `X`.

In [40]:
# Define the target set y using the Attrition_Yes column
y =  attrition_df["Attrition_Yes"]
# Display a sample of y
y[:5]

0    1.0
1    0.0
2    1.0
3    0.0
4    0.0
Name: Attrition_Yes, dtype: float64

In [41]:
# Define features set X by selecting all columns but Attrition_Yes and Attrition_No
X = attrition_df.drop(columns=["Attrition_Yes", "Attrition_No"])

# Review the features DataFrame
X[:5]

,Age,DailyRate,DistanceFromHome,Education,EmployeeCount,EmployeeNumber,EnvironmentSatisfaction,HourlyRate,JobInvolvement,JobLevel,...,JobRole_Research Director,JobRole_Research Scientist,JobRole_Sales Executive,JobRole_Sales Representative,MaritalStatus_Divorced,MaritalStatus_Married,MaritalStatus_Single,Over18_Y,OverTime_No,OverTime_Yes
0,41,1102,1,2,1,1,2,94,3,2,...,0.0,0.0,1.0,0.0,0.0,0.0,1.0,1.0,0.0,1.0
1,49,279,8,1,1,2,3,61,2,2,...,0.0,1.0,0.0,0.0,0.0,1.0,0.0,1.0,1.0,0.0
2,37,1373,2,2,1,4,4,92,2,1,...,0.0,0.0,0.0,0.0,0.0,0.0,1.0,1.0,0.0,1.0
3,33,1392,3,4,1,5,4,56,3,1,...,0.0,1.0,0.0,0.0,0.0,1.0,0.0,1.0,0.0,1.0
4,27,591,2,1,1,7,1,40,3,1,...,0.0,0.0,0.0,0.0,0.0,1.0,0.0,1.0,1.0,0.0

### Step 7: Create the training and testing sets using the `train_test_split` function from scikit-learn.

In [42]:
# Split the data into training and testing datasets
# Assign the function a random_state equal to 1
X_train, X_test, y_train, y_test =  train_test_split(X, y, random_state=1)

### Step 8: Use scikit-learn’s `StandardScaler` to standardize the numerical features.

In [43]:
# Create a StandardScaler instance
scaler =  StandardScaler()

# Fit the scaler to the features training dataset
X_scaler =  scaler.fit(X_train)

# Scale both the training and testing data from the features dataset
X_train_scaled =  X_scaler.transform(X_train)
X_test_scaled =  X_scaler.transform(X_test)

---

## Create a Neural Network Model to Predict Employee Attrition

### Step 1: Use the optimization techniques presented in this lesson to create a deep neural network model with two hidden layers.

    * Set a variable `number_input_features` equal to the number of input features.

    * Set a variable `hidden_nodes_layer1` equal to an integer number close to the mean of the number of input features and the number of neurons in the output layer.

    * Set a variable `hidden_nodes_layer2` equal to an integer number close to the mean of the number of hidden nodes defined for the first layer and the number of neurons in the output layer.

    * Add the model’s layers, and use the `relu` activation function for each hidden layer.

    * This model will predict a binary output. So, add an output layer with one neuron, and use the `sigmoid` activation function.

> **Hint** To set the number of input features, you can fetch the length of the first element, like this: `number_input_features = len(X_train.iloc[0])`.

In [44]:
# Define the the number of inputs (features) to the model
number_input_features =  len(X_train.iloc[0])

# Define the number of hidden nodes for the first hidden layer
# Use the mean of the number of input features plus the number of output neurons
# Use the Python floor division (//) to return the quotient
hidden_nodes_layer1 =  (number_input_features + 1) // 2

# Define the number of hidden nodes for the second hidden layer
# Use the mean of the number of hidden nodes in the first hidden layer plus the number of output nurons
# Use the Python floor division (//) to return the quotient
hidden_nodes_layer2 =  (hidden_nodes_layer1 + 1) // 2

# Create the Sequential model instance
nn =  Sequential()

# Add the first hidden layer specifying the number of inputs, the number of hidden nodes, and the activation function
nn.add(Dense(units=hidden_nodes_layer1, input_dim=number_input_features, activation="relu"))

# Add the second hidden layer specifying the number of hidden nodes and the activation function
nn.add(Dense(units=hidden_nodes_layer2, activation="relu"))

# Add the output layer to the model specifying the number of output neurons and activation function
nn.add(Dense(units=1, activation="sigmoid"))

Metal device set to: Apple M1 Max

systemMemory: 64.00 GB
maxCacheSize: 24.00 GB

2022-09-06 17:51:55.872287: I tensorflow/core/common_runtime/pluggable_device/pluggable_device_factory.cc:305] Could not identify NUMA node of platform GPU ID 0, defaulting to 0. Your kernel may not have been built with NUMA support.
2022-09-06 17:51:55.872400: I tensorflow/core/common_runtime/pluggable_device/pluggable_device_factory.cc:271] Created TensorFlow device (/job:localhost/replica:0/task:0/device:GPU:0 with 0 MB memory) -> physical PluggableDevice (device: 0, name: METAL, pci bus id: <undefined>)

### Step 2: Display the structure of your model using the `summary` function.

In [45]:
# Display the Sequential model summary
nn.summary()

Model: "sequential"
_________________________________________________________________
 Layer (type)                Output Shape              Param #
=================================================================
 dense (Dense)               (None, 28)                1568

 dense_1 (Dense)             (None, 14)                406

 dense_2 (Dense)             (None, 1)                 15

=================================================================
Total params: 1,989
Trainable params: 1,989
Non-trainable params: 0
_________________________________________________________________

### Step 3: Compile the model. Use the `binary_crossentropy` loss function, the `adam` optimizer, and the `accuracy` metric.

In [46]:
# Compile the Sequential model
nn.compile(loss="binary_crossentropy", optimizer="adam", metrics=["accuracy"])

---

## Train and Evaluate the Neural Network Model

### Step 1: Train (fit) the neural network model. Use the training data and set 100 epochs.

In [47]:
# Fit the model using 100 epochs and the training data
fit_model =  nn.fit(X_train_scaled, y_train, epochs=100)

Epoch 1/100

2022-09-06 17:52:49.418766: W tensorflow/core/platform/profile_utils/cpu_utils.cc:128] Failed to get CPU frequency: 0 Hz
2022-09-06 17:52:49.609199: I tensorflow/core/grappler/optimizers/custom_graph_optimizer_registry.cc:113] Plugin optimizer for device_type GPU is enabled.

35/35 [==============================] - 1s 15ms/step - loss: 0.5963 - accuracy: 0.7142
Epoch 2/100
35/35 [==============================] - 0s 5ms/step - loss: 0.4272 - accuracy: 0.8439
Epoch 3/100
35/35 [==============================] - 0s 5ms/step - loss: 0.3773 - accuracy: 0.8485
Epoch 4/100
35/35 [==============================] - 0s 5ms/step - loss: 0.3448 - accuracy: 0.8539
Epoch 5/100
35/35 [==============================] - 0s 5ms/step - loss: 0.3210 - accuracy: 0.8693
Epoch 6/100
35/35 [==============================] - 0s 5ms/step - loss: 0.2996 - accuracy: 0.8848
Epoch 7/100
35/35 [==============================] - 0s 5ms/step - loss: 0.2825 - accuracy: 0.9020
Epoch 8/100
35/35 [==============================] - 0s 5ms/step - loss: 0.2669 - accuracy: 0.9056
Epoch 9/100
35/35 [==============================] - 0s 5ms/step - loss: 0.2548 - accuracy: 0.9083
Epoch 10/100
35/35 [==============================] - 0s 5ms/step - loss: 0.2432 - accuracy: 0.9129
Epoch 11/100
35/35 [==============================] - 0s 6ms/step - loss: 0.2329 - accuracy: 0.9165
Epoch 12/100
35/35 [==============================] - 0s 6ms/step - loss: 0.2228 - accuracy: 0.9229
Epoch 13/100
35/35 [==============================] - 0s 6ms/step - loss: 0.2139 - accuracy: 0.9283
Epoch 14/100
35/35 [==============================] - 0s 6ms/step - loss: 0.2060 - accuracy: 0.9319
Epoch 15/100
35/35 [==============================] - 0s 6ms/step - loss: 0.1975 - accuracy: 0.9338
Epoch 16/100
35/35 [==============================] - 0s 6ms/step - loss: 0.1910 - accuracy: 0.9347
Epoch 17/100
35/35 [==============================] - 0s 5ms/step - loss: 0.1830 - accuracy: 0.9365
Epoch 18/100
35/35 [==============================] - 0s 6ms/step - loss: 0.1767 - accuracy: 0.9419
Epoch 19/100
35/35 [==============================] - 0s 7ms/step - loss: 0.1704 - accuracy: 0.9428
Epoch 20/100
35/35 [==============================] - 0s 6ms/step - loss: 0.1642 - accuracy: 0.9456
Epoch 21/100
35/35 [==============================] - 0s 5ms/step - loss: 0.1603 - accuracy: 0.9456
Epoch 22/100
35/35 [==============================] - 0s 6ms/step - loss: 0.1534 - accuracy: 0.9465
Epoch 23/100
35/35 [==============================] - 0s 5ms/step - loss: 0.1479 - accuracy: 0.9483
Epoch 24/100
35/35 [==============================] - 0s 5ms/step - loss: 0.1422 - accuracy: 0.9519
Epoch 25/100
35/35 [==============================] - 0s 5ms/step - loss: 0.1381 - accuracy: 0.9537
Epoch 26/100
35/35 [==============================] - 0s 5ms/step - loss: 0.1326 - accuracy: 0.9555
Epoch 27/100
35/35 [==============================] - 0s 5ms/step - loss: 0.1284 - accuracy: 0.9592
Epoch 28/100
35/35 [==============================] - 0s 5ms/step - loss: 0.1218 - accuracy: 0.9601
Epoch 29/100
35/35 [==============================] - 0s 5ms/step - loss: 0.1182 - accuracy: 0.9619
Epoch 30/100
35/35 [==============================] - 0s 5ms/step - loss: 0.1122 - accuracy: 0.9655
Epoch 31/100
35/35 [==============================] - 0s 5ms/step - loss: 0.1089 - accuracy: 0.9646
Epoch 32/100
35/35 [==============================] - 0s 5ms/step - loss: 0.1034 - accuracy: 0.9664
Epoch 33/100
35/35 [==============================] - 0s 5ms/step - loss: 0.1008 - accuracy: 0.9673
Epoch 34/100
35/35 [==============================] - 0s 5ms/step - loss: 0.0957 - accuracy: 0.9691
Epoch 35/100
35/35 [==============================] - 0s 5ms/step - loss: 0.0908 - accuracy: 0.9710
Epoch 36/100
35/35 [==============================] - 0s 5ms/step - loss: 0.0871 - accuracy: 0.9764
Epoch 37/100
35/35 [==============================] - 0s 5ms/step - loss: 0.0840 - accuracy: 0.9764
Epoch 38/100
35/35 [==============================] - 0s 5ms/step - loss: 0.0793 - accuracy: 0.9809
Epoch 39/100
35/35 [==============================] - 0s 5ms/step - loss: 0.0761 - accuracy: 0.9782
Epoch 40/100
35/35 [==============================] - 0s 5ms/step - loss: 0.0734 - accuracy: 0.9800
Epoch 41/100
35/35 [==============================] - 0s 5ms/step - loss: 0.0708 - accuracy: 0.9782
Epoch 42/100
35/35 [==============================] - 0s 5ms/step - loss: 0.0669 - accuracy: 0.9846
Epoch 43/100
35/35 [==============================] - 0s 6ms/step - loss: 0.0637 - accuracy: 0.9846
Epoch 44/100
35/35 [==============================] - 0s 6ms/step - loss: 0.0589 - accuracy: 0.9864
Epoch 45/100
35/35 [==============================] - 0s 5ms/step - loss: 0.0560 - accuracy: 0.9882
Epoch 46/100
35/35 [==============================] - 0s 5ms/step - loss: 0.0529 - accuracy: 0.9882
Epoch 47/100
35/35 [==============================] - 0s 6ms/step - loss: 0.0514 - accuracy: 0.9909
Epoch 48/100
35/35 [==============================] - 0s 5ms/step - loss: 0.0473 - accuracy: 0.9900
Epoch 49/100
35/35 [==============================] - 0s 5ms/step - loss: 0.0448 - accuracy: 0.9927
Epoch 50/100
35/35 [==============================] - 0s 5ms/step - loss: 0.0414 - accuracy: 0.9946
Epoch 51/100
35/35 [==============================] - 0s 5ms/step - loss: 0.0410 - accuracy: 0.9927
Epoch 52/100
35/35 [==============================] - 0s 5ms/step - loss: 0.0378 - accuracy: 0.9927
Epoch 53/100
35/35 [==============================] - 0s 5ms/step - loss: 0.0357 - accuracy: 0.9946
Epoch 54/100
35/35 [==============================] - 0s 5ms/step - loss: 0.0333 - accuracy: 0.9955
Epoch 55/100
35/35 [==============================] - 0s 5ms/step - loss: 0.0314 - accuracy: 0.9946
Epoch 56/100
35/35 [==============================] - 0s 5ms/step - loss: 0.0301 - accuracy: 0.9964
Epoch 57/100
35/35 [==============================] - 0s 5ms/step - loss: 0.0285 - accuracy: 0.9973
Epoch 58/100
35/35 [==============================] - 0s 5ms/step - loss: 0.0265 - accuracy: 0.9964
Epoch 59/100
35/35 [==============================] - 0s 5ms/step - loss: 0.0253 - accuracy: 0.9973
Epoch 60/100
35/35 [==============================] - 0s 5ms/step - loss: 0.0242 - accuracy: 0.9973
Epoch 61/100
35/35 [==============================] - 0s 5ms/step - loss: 0.0227 - accuracy: 0.9973
Epoch 62/100
35/35 [==============================] - 0s 5ms/step - loss: 0.0213 - accuracy: 0.9973
Epoch 63/100
35/35 [==============================] - 0s 5ms/step - loss: 0.0204 - accuracy: 0.9973
Epoch 64/100
35/35 [==============================] - 0s 6ms/step - loss: 0.0194 - accuracy: 0.9982
Epoch 65/100
35/35 [==============================] - 0s 6ms/step - loss: 0.0183 - accuracy: 0.9973
Epoch 66/100
35/35 [==============================] - 0s 6ms/step - loss: 0.0178 - accuracy: 0.9982
Epoch 67/100
35/35 [==============================] - 0s 5ms/step - loss: 0.0169 - accuracy: 0.9973
Epoch 68/100
35/35 [==============================] - 0s 5ms/step - loss: 0.0163 - accuracy: 0.9982
Epoch 69/100
35/35 [==============================] - 0s 5ms/step - loss: 0.0151 - accuracy: 0.9982
Epoch 70/100
35/35 [==============================] - 0s 5ms/step - loss: 0.0145 - accuracy: 0.9973
Epoch 71/100
35/35 [==============================] - 0s 5ms/step - loss: 0.0139 - accuracy: 0.9982
Epoch 72/100
35/35 [==============================] - 0s 5ms/step - loss: 0.0131 - accuracy: 0.9982
Epoch 73/100
35/35 [==============================] - 0s 5ms/step - loss: 0.0126 - accuracy: 0.9982
Epoch 74/100
35/35 [==============================] - 0s 5ms/step - loss: 0.0119 - accuracy: 0.9982
Epoch 75/100
35/35 [==============================] - 0s 6ms/step - loss: 0.0112 - accuracy: 0.9991
Epoch 76/100
35/35 [==============================] - 0s 5ms/step - loss: 0.0106 - accuracy: 0.9991
Epoch 77/100
35/35 [==============================] - 0s 5ms/step - loss: 0.0099 - accuracy: 0.9991
Epoch 78/100
35/35 [==============================] - 0s 6ms/step - loss: 0.0096 - accuracy: 0.9991
Epoch 79/100
35/35 [==============================] - 0s 6ms/step - loss: 0.0090 - accuracy: 0.9991
Epoch 80/100
35/35 [==============================] - 0s 5ms/step - loss: 0.0088 - accuracy: 0.9991
Epoch 81/100
35/35 [==============================] - 0s 6ms/step - loss: 0.0084 - accuracy: 0.9991
Epoch 82/100
35/35 [==============================] - 0s 6ms/step - loss: 0.0079 - accuracy: 0.9991
Epoch 83/100
35/35 [==============================] - 0s 6ms/step - loss: 0.0075 - accuracy: 0.9991
Epoch 84/100
35/35 [==============================] - 0s 6ms/step - loss: 0.0072 - accuracy: 0.9991
Epoch 85/100
35/35 [==============================] - 0s 5ms/step - loss: 0.0067 - accuracy: 0.9991
Epoch 86/100
35/35 [==============================] - 0s 5ms/step - loss: 0.0064 - accuracy: 0.9991
Epoch 87/100
35/35 [==============================] - 0s 5ms/step - loss: 0.0060 - accuracy: 0.9991
Epoch 88/100
35/35 [==============================] - 0s 5ms/step - loss: 0.0058 - accuracy: 0.9991
Epoch 89/100
35/35 [==============================] - 0s 5ms/step - loss: 0.0055 - accuracy: 1.0000
Epoch 90/100
35/35 [==============================] - 0s 5ms/step - loss: 0.0051 - accuracy: 1.0000
Epoch 91/100
35/35 [==============================] - 0s 5ms/step - loss: 0.0048 - accuracy: 1.0000
Epoch 92/100
35/35 [==============================] - 0s 5ms/step - loss: 0.0044 - accuracy: 1.0000
Epoch 93/100
35/35 [==============================] - 0s 5ms/step - loss: 0.0043 - accuracy: 1.0000
Epoch 94/100
35/35 [==============================] - 0s 5ms/step - loss: 0.0041 - accuracy: 1.0000
Epoch 95/100
35/35 [==============================] - 0s 5ms/step - loss: 0.0038 - accuracy: 1.0000
Epoch 96/100
35/35 [==============================] - 0s 5ms/step - loss: 0.0037 - accuracy: 1.0000
Epoch 97/100
35/35 [==============================] - 0s 5ms/step - loss: 0.0035 - accuracy: 1.0000
Epoch 98/100
35/35 [==============================] - 0s 5ms/step - loss: 0.0033 - accuracy: 1.0000
Epoch 99/100
35/35 [==============================] - 0s 5ms/step - loss: 0.0031 - accuracy: 1.0000
Epoch 100/100
35/35 [==============================] - 0s 5ms/step - loss: 0.0031 - accuracy: 1.0000

### Step 2: Evaluate the model using the test data to determine its loss and accuracy.

In [48]:
# Evaluate the model loss and accuracy metrics using the evaluate method and the test data
model_loss, model_accuracy = nn.evaluate(X_test_scaled, y_test, verbose=2)

# Display the model loss and accuracy results
print(f"Loss: {model_loss}, Accuracy: {model_accuracy}")

12/12 - 0s - loss: 1.2564 - accuracy: 0.8071 - 156ms/epoch - 13ms/step
Loss: 1.2563872337341309, Accuracy: 0.8070652484893799

2022-09-06 17:53:15.130007: I tensorflow/core/grappler/optimizers/custom_graph_optimizer_registry.cc:113] Plugin optimizer for device_type GPU is enabled.

### Step 3: Save and export your model to an HDF5 file. Name the file `employee_attrition.h5`.

In [20]:
# Set the model's file path
file_path = Path("../Resources/employee_attrition.h5")

# Export your model to a HDF5 file
nn.save(file_path)